[submodule "src/unitree_ros"]
	path = src/unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros
[submodule "src/simulation_interfaces"]
	path = src/simulation_interfaces
	url = https://github.com/ros-simulation/simulation_interfaces
